{
  "extends": "@hellpack/eslint-config-hellpack",
  "plugins": [
    "eslint-plugin-prettier",
    "eslint-plugin-import"
  ], 
  "rules": {
    "no-throw-literal": 0,
    "no-nested-ternary": 0
  }
}